doctype html
html
  head
    title Hello World!
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .logo
      .me hello world
    .content
      p hi, i'm bence, a full stack software engineer
      p
        a(href='https://github.com/madbence')
          include github.svg
          | @madbence
        a(href='https://twitter.com/madbence')
          include twitter.svg
          | @madbence
        a(href='https://www.linkedin.com/in/bencedanyi')
          include linkedin.svg
          | bencedanyi
        a(href='mailto:bence@danyi.me')
          include email.svg
          | bence@danyi.me
    script(src='bundle.js')
