doctype html
html
  head
    title Hello World!
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .logo
      .me hello world
    .content
      p hi, i'm bence, a full stack software engineer
      p
        a(href='mailto:bence@danyi.me') bence@danyi.me
    script(src='bundle.js')
